@inherits LayoutComponentBase

  <div class="bg-gray-100 font-sans leading-normal tracking-normal">
    <div class="flex md:flex-row-reverse flex-wrap h-screen md:h-auto">
      <div class="w-full md:flex-1 bg-gray-100">
        <div class="container bg-gray-100 pt-16 px-6 max-w-6xl mx-auto">
          @Body
        </div>
      </div>
        <NavMenu />
  </div>


</div>
