<div
    class="w-full md:w-64 bg-gray-900 px-2 text-center fixed md:relative bottom-0 md:pt-8 md:top-0 md:left-0 md:h-screen md:border-r-4 md:border-gray-600">
    <div class="md:relative mx-auto md:flex md:flex-col h-full">
        <div class="text-3xl text-white hidden md:block pb-5">Kanji Study</div>
        <ul class="list-reset flex flex-row md:flex-col md:flex-1 text-center md:text-left pt-2 pb-1">
            <li class="mr-3 flex-1 md:flex-initial">
                <NavLink href="" Match="NavLinkMatch.All"
                    class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-pink-500 border-gray-800 md:border-gray-900 hover:border-pink-500">
                    <i class="fas fa-book pr-0 md:pr-3 md:text-lg text-xl pb-1"></i><span
                        class="text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Study</span>
                </NavLink>
            </li>
            <li class="mr-3 flex-1 md:flex-initial">
                <NavLink href="/cards"
                    class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-pink-500 border-gray-800 md:border-gray-900 hover:border-pink-500">
                    <i class="fas fa-language pr-0 md:pr-3 md:text-lg text-xl pb-1"></i><span
                        class="text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Cards</span>
                </NavLink>
            </li>
            <li class="mr-3 flex-1 md:flex-initial">
                <NavLink href="stats"
                    class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-pink-500 border-gray-800 md:border-gray-900 hover:border-pink-500">
                    <i class="fas fa-language pr-0 md:pr-3 md:text-lg text-xl pb-1"></i><span
                        class="text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Stats</span> </NavLink>
            </li>
            <li class="mr-3 flex-1 md:flex-initial">
                <NavLink href="settings"
                    class="block py-1 md:py-3 pl-1 align-middle text-gray-800 no-underline hover:text-pink-500 border-gray-800 md:border-gray-900 hover:border-pink-500">
                    <i class="fas fa-cog pr-0 md:pr-3 md:text-lg text-xl pb-1"></i><span
                        class="text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Settings</span>
                </NavLink>
            </li>
        </ul>
        <div class="text-sm text-white hidden md:block mt-auto pb-2"><a href="https://github.com/joshm998/KanjiStudy">Star us on Github ⭐</a>
        </div>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
